.body{
    font:20px Arial, sans-serif;
}
.navbar{
    background-color: greenyellow;
}
.quem-somos{
    background-color: aquamarine;
    color: white;
}
.margin{
  padding-bottom: 50px;
  padding-top: 10px;
}
.parceiros{
    background-color: darkseagreen;
    color: brown;
}
.bg-footer{
    background-color: black;
    color: white;
}